name: landuse_det

services:
  landuse_det:
    image: landuse_det
    build:
      context: .
      dockerfile: ./Dockerfile
    command: ["sh", "-c", "pip install debugpy -t /tmp && python /tmp/debugpy --wait-for-client --listen 0.0.0.0:5678 -m uvicorn landuse_app.fastapi_init:app --host 0.0.0.0 --port 80"]
    ports:
      - 80:80
      - 5678:5678